body {
    background-color: cornsilk;
}

h1{
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

h3{
    justify-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}